<main>
  <header><h2>STRICH Angular Sample</h2></header>
  <p>
    Note: Only <b>Code 128 and QR</b> symbologies are enabled. Check the
    <a href="https://docs.strich.io/supported-symbologies.html" target="_blank">documentation</a>
    for a full list of supported symbologies.
  </p>
  <section>
    <header><h3>Popup Scanner</h3></header>
    <p>Scan a single code using the PopupScanner.</p>
    <button (click)="scanWithPopup()">Scan with Popup</button>
  </section>
  <section>
    <header><h3>Single Scan</h3></header>
    <p>Scan a single barcode and return here.</p>
    <a routerLink="/scan-single">Start Single</a>
  </section>
  <section>
    <header><h3>Repeated Scans</h3></header>
    <p>Repeatedly scan barcodes, pausing and resuming the scanner until done.</p>
    <a routerLink="/scan-repeated">Start Repeated</a>
  </section>
  <section>
    <header><h3>Multiple Scans</h3></header>
    <p>Scan continuously until a number of distinct barcodes are scanned.</p>
    <a routerLink="/scan-multiple">Start Multiple</a>
  </section>
</main>

<!-- dialog for displaying popup scanner result -->
<dialog #popupScannerResultDialog>
  <p *ngIf="popupScannerResult">Scanned code: <b>{{ popupScannerResult.data }}</b></p>

  <div class="button-bar">
    <button (click)="scanWithPopup()">SCAN AGAIN</button>
    <button (click)="popupScanDone()">DONE</button>
  </div>
</dialog>
