main {
  padding: var(--padding-default);
}

section {
  margin-top: 16px;
}

dialog {
  margin: auto;
  .button-bar {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
