<div class="app-wrapper">

  <div class="scan-header">
    <span *ngIf="errorMessage; else title">{{ errorMessage }}</span>
    <ng-template #title>
      <span>STRICH Angular sample code</span>
    </ng-template>

  </div>

  <div class="barcode-reader">
    <!-- STRICH BarcodeReader instantiated here -->
  </div>

  <div class="scan-results">

    <div class="scan-detection" *ngIf="codeDetection" (click)="removeCodeDetection()">
      <div class="type-name">
        {{ codeDetection.typeName }}
      </div>
      <div class="data">{{ codeDetection.data }}</div>
    </div>

    <div *ngIf="initialized && !barcodeReader" class="scan-actions">
      <button [disabled]="busy" class="btn-primary" (click)="startScanning()">START SCANNING</button>
    </div>
  </div>
</div>
