.app-wrapper {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .scan-header {
    display: flex;
    height: 48px;
    min-height: 48px;
    flex-direction: row;
    padding-left: var(--padding-default);
    padding-right: var(--padding-default);
    align-items: center;
  }

  .barcode-reader {
    position: relative;
    background-color: black;
    flex-grow: 1;
    width: 100%;
  }

  .scan-results {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: var(--padding-default);
    padding-left: var(--padding-default);
    padding-right: var(--padding-default);
    padding-bottom: var(--padding-default);
    overflow-y: scroll;
    overflow-x: hidden;

    .scan-detection {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 40px;
      min-height: 40px;
      font-family: monospace;
      border-radius: var(--border-radius);
      text-overflow: ellipsis;

      .type-name {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: var(--color-dark);
        color: var(--color-light);
        font-size: 14px;
        text-transform: uppercase;
        padding: 4px 10px;
      }

      .data {
        display: flex;
        flex-grow: 1;
        align-items: center;
        background-color: var(--color-light);
        padding-left: var(--padding-default);
        padding-right: var(--padding-default);
        height: 100%;
        font-size: 16px;
        color: var(--color-dark);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .scan-actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  }


}
